header>h1{
    color: white;
    font-size: 45px;
    font-style: oblique;
}
nav>ul>li>a:hover{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
nav>ul>li{
    list-style-type: none;
    display: inline;

}

.active{
    color: blue;
    font-weight: bold;
    font-size: 25px;

}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px ;
}